{% extends 'base.html.twig' %}

{% block title %}Recherche/saisie d'une substance
{% endblock %}

{% block body %}

	<div class="container-fluid p-5">
		<div class="card shadow-sm">
			<div class="card-header bg-primary text-white">
				<h5 class="mb-0">Saisie / recherche d'une substance</h5>
			</div>
			<div class="card-body">
				{{ form_start(form) }}
				<div class="d-flex flex-column align-items-center">
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(form.Substance, 'Substance :', {'label_attr': {'class': 'form-label'}}) }}
							{{ form_widget(form.Substance, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
					<div class="col-md-6 mt-3 d-flex justify-content-center">
						{{ form_widget(form.recherche, {'attr': {'class': 'btn btn-primary w-25'}}) }}
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>

{% endblock %}
